@import ../common
@import ../btn-link/index

$component: "products"

@font-face
  font-family: "league-spartan"
  src: url("fonts/league-spartan.ttf")

.products
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  width: 1160px
  margin: 0 auto
  margin-top: 40px
  color: #ffffff

  .title
    font-family: "league-spartan", sans-serif
    font-weight: bold
    text-transform: uppercase

  .btn-link
    text-transform: uppercase
    margin-top: 27px

  .product-big
    padding: 30px
    box-sizing: border-box
    flex: 0 0 560px
    height: 520px
    color: #ffffff

    .title
      font-size: 48px
      padding-top: 32px

    .description
      font-size: 24px
      margin-top: 6px

  .product-small
    margin-top: 40px
    flex: 0 0 360px
    height: 440px
    text-align: center
    box-sizing: border-box
    padding: 40px
    position: relative

    .title
      margin-top: 12px
      font-size: 32px

    .description
      font-size: 16px

  .product1
    background: url(image-path('product1.png')) no-repeat
    text-align: right

    .description
      padding-left: 50px

  .product2
    background: url(image-path('product2.png')) no-repeat
    text-align: left

    .description
      width: 342px

  .product3
    background: url(image-path('product3.png')) no-repeat

  .product4
    background: url(image-path('product4.png')) no-repeat

    .content
      position: absolute
      bottom: 40px
      left: 40px
      right: 40px

  .product5
    background: url(image-path('product5.png')) no-repeat

