include ../common
include ../btn-link/index


+component('products')
  .products
    .product-big.product1
      .title BEOPLAY A1
      .description The ultra-portable Bluetooth speaker that will travel with you anywhere
      +btn-link("Buy")
    .product-big.product2
      .title Leica MP
      .description Focused technology for focused photography
      +btn-link("Buy")
    .product-small.product3
      .content
        .description The world’s first molecular air purifier
        .title Molekule
        +btn-link("Details")
    .product-small.product4
      .content
        .description Bowers & Wilkins
        .title P9 Signature
        +btn-link("Details")
    .product-small.product5
      .content
        .description An homage to Dieter Rams
        .title DR-II
        +btn-link("Details")
