include ../common

+component('products')
  .products
    .product-big.product1
      .title BEOPLAY A1
      .description The ultra-portable Bluetooth speaker that will travel with you anywhere
      a.buy(href="#") Buy
    .product-big.product2
      .title Leica MP
      .description Focused technology for focused photography
      a.buy(href="#") Buy
    .product-small.product3
      .content
        .description The world’s first molecular air purifier
        .title Molekule
        a.details(href="#") Details
    .product-small.product4
      .content
        .description Bowers & Wilkins
        .title P9 Signature
        a.details(href="#") Details
    .product-small.product5
      .content
        .description An homage to Dieter Rams
        .title DR-II
        a.details(href="#") Details
