@import ../common

$component: "body"

@font-face
  font-family: "hk-grotesk-light"
  src: url("fonts/hk-grotesk-light.otf")

body
  margin: 0
  background: #272f45
  line-height: 1.25
  font-family: "hk-grotesk-light", sans-serif