include ../common
include ../btn-link/index

+component('main')
  .main
    a.kickstarter(href="#")
    .content
      .title Gina
      .description
        | A coffee instrument combining classic
        | coffee techniques with the latest technology
      +btn-link("Shop Now", "#", 'big')