include ../common

+component('footer')
  .footer
    .links
      a(href="#") About
      = " • "
      a(href="#") Search
      = " • "
      a(href="#") Contact
      = " • "
      a(href="#") Facebook
      = " • "
      a(href="#") Twitter
    .copyright © Industrial Design Magazine