doctype html

html
  head
    link(rel="stylesheet", href="index.css")
    title Untitled
  include components/body/index
  +body
    include components/header/index
    include components/main/index
    include components/products/index
    include components/newsletter/index
    include components/footer/index
    include components/btn-link/index